.app{
    background-color: darkgrey;
    height: 100vh;
}

.app__btn{
display: flex;

} 
 .btn{
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  margin-top: 2rem;
 }

 .showbtnDiv{
    display: flex;
    justify-content: space-around;
 }