.functionDiv__box{
    margin-top: 3rem;
    border: 2px solid red;
    height: 20rem;
    width: 30rem;
    background-color: yellow;
}

@media(min-width:0px) and (max-width: 480px){
    .functionDiv__box{
        height: 15rem;
    width: 22rem;
    }
    

}